$dark-blue-rgb: 8, 31, 75;
$dark-blue: #455cc6;
$dark-blue-hover: #566ed8;

$light-blue-rgb: rgb(0, 131, 255);
$light-blue: #6eb6f8;

$background: #edf1f5;
$light-text: #c1cfdb;
$light-text-hover: #a9bac9;